
bg-1 = gray
bg-2 = lightgray
bg-3 = rgb(240, 240, 240)

col-1 = yellow
col-2 = gray
col-3 = blue 
my-orange = #ff9900
bg-yel = #ffd600
bg-blue = #00a3ff

bord() // Для отладки
	border solid black 1px

body
	background-color: bg-3

.main 
	border: solid 1px black;
	margin: 20px;
	padding: 20px;
	color: red;
