html 
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="css/main.css")

    //<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    script(src="js/convert_01.js")
  body 
    .main
      p.title ## Заголовок этого текста
      p#u1 Этот код является некорректным, потому что свойства CSS указываются в формате ключ-значение, разделенных двоеточием. Команда bord() не является существующим свойством CSS. Возможно, вы имели в виду свойство border, которое устанавливает стиль, толщину и цвет рамки элемента. Таким образом, правильный код для стиля .main может выглядеть следующим образом:
      p ///
      hr